.fas.fa-mobile-alt, .fas.fa-list-ul, .fas.fa-store{
    font-size: 1.3em;
    color: $colour-shadow;
}

.far.fa-heart{
    font-size: 1.7em;
    color: $colour-shadow;
}


.fas.fa-hands-helping{
    margin-right: 10px;
}
.fas.fa-utensils{
    margin-right: 17px;
}