.typologo{
    font-family: 'Shrikhand', cursive;
}
.typography{
    font-family: 'Roboto', sans-serif;
}


h1, h2{
    @include margin-left;
    @include margin-right; 
}


.title{
    &__maintitle {
    @include title;
    @include desktop-only{
        font-size: nth($font-size, 5);
        width: 700px;
        margin-top: 30px;
    }}
    &__subtitle{
    @include subtitle;
    @include desktop-only{
        font-size: nth($font-size, 4);
        width: 700px;
    }}
    &__secondarytitle{
    @include title;
    @include margin-left;
    @include desktop-only{
        font-size: nth($font-size, 5);}
    }
    &__mainsection{
    @include title;
    @include margin-left;
    @include desktop-only{
        font-size: nth($font-size, 5);}
   }
}

.restaurant{
    &--name{
    @include text-bold;}
    &--location{
    @include subtitle;
    margin-top: 5px;
    }
    
}