.typologo{
    font-family: 'Shrikhand', cursive;
}
.typography{
    font-family: 'Roboto', sans-serif;
}
.typobold{
    font-family: 'Roboto', sans-serif;
    font-size : 0.8em;
    font-weight: 300;
}


.title{
    &__maintitle {
    @include title;}
    &__subtitle{
    @include subtitle;}
    &__secondarytitle{
    @include title;
    margin-left: 20px;}
    &__mainsection{
    @include title;
    font-size: 1.2em;
    margin-left: 20px;
   }
}

.restaurant{
    &--name{
    @extend .typography;}
    &--location{
    @include subtitle;
    font-size: 0.8em;
    margin-top: 10px;
    }
    
}