$colour-white: white;
$colour-shadow: gray;
$colour-darkshadow: rgb(59, 59, 59);
$color-neutral: rgb(236, 236, 236);
$color-neutral-lighter: rgb(245, 245, 245);
$color-trend: #FF79DA ;
$color-trend-darker: #9356DC;
$color-new: #99E2D0;
$color-new-darker: #0c8347;